{
    "core": {
        "restartOnFailure": true,
        "smartMeterTimeZone": "Europe/Brussels"
    },
    "healthControl": {
        "enable": true,
        "lifetimeCycles": 4320
    },
    "serialPortConfig": {
        "port": "COM4",
        "baudrate": 115200,
        "timeout": 5
    },
    "p1Transform": {
        "1-0:1.8.0": {
            "operation": "sum",
            "operands": [
                "1-0:1.8.1",
                "1-0:1.8.2"
            ]
        },
        "1-0:2.8.0": {
            "operation": "sum",
            "operands": [
                "1-0:2.8.1",
                "1-0:2.8.2"
            ]
        }
    },
    "processors": {
        "printMode": {
            "type": "print",
            "topics": {
                "1-0:1.8.0": "smartmeter/electricity/reading/consumption/total",
                "1-0:1.8.1": "smartmeter/electricity/reading/consumption/day_tariff",
                "1-0:1.8.2": "smartmeter/electricity/reading/consumption/night_tariff",
                "1-0:2.8.0": "smartmeter/electricity/reading/injection/total",
                "1-0:2.8.1": "smartmeter/electricity/reading/injection/day_tariff",
                "1-0:2.8.2": "smartmeter/electricity/reading/injection/night_tariff",
                "1-0:21.7.0": "smartmeter/electricity/instant/L1/power/consumption",
                "1-0:22.7.0": "smartmeter/electricity/instant/L1/power/injection",
                "1-0:31.7.0": "smartmeter/electricity/instant/L1/intensity",
                "1-0:32.7.0": "smartmeter/electricity/instant/L1/tension"                
            }
        },
        "loggerInfoMode": {
            "type": "logger",
            "logLevel": "INFO",
            "topics": {
                "1-0:1.8.0": "smartmeter/electricity/reading/consumption/total",
                "1-0:1.8.1": "smartmeter/electricity/reading/consumption/day_tariff",
                "1-0:1.8.2": "smartmeter/electricity/reading/consumption/night_tariff",
                "1-0:2.8.0": "smartmeter/electricity/reading/injection/total",
                "1-0:2.8.1": "smartmeter/electricity/reading/injection/day_tariff",
                "1-0:2.8.2": "smartmeter/electricity/reading/injection/night_tariff",
                "1-0:21.7.0": "smartmeter/electricity/instant/L1/power/consumption",
                "1-0:22.7.0": "smartmeter/electricity/instant/L1/power/injection",
                "1-0:31.7.0": "smartmeter/electricity/instant/L1/intensity",
                "1-0:32.7.0": "smartmeter/electricity/instant/L1/tension"                
            }
        },
        "mqttShirka": {
            "type": "mqtt",
            "broker": "your.mqtt.domain.name.or.ip",
            "port": 8883,
            "tls": {
                "useTLS": true,
                "setTLSInsecure": true,
                "rootCAFileName": "config.crt"
            },
            "username": "mqtt.username",
            "password": "mqtt.password",
            "topics": {
                "1-0:1.8.0": "smartmeter/electricity/reading/consumption/total",
                "1-0:1.8.1": "smartmeter/electricity/reading/consumption/day_tariff",
                "1-0:1.8.2": "smartmeter/electricity/reading/consumption/night_tariff",
                "1-0:2.8.0": "smartmeter/electricity/reading/injection/total",
                "1-0:2.8.1": "smartmeter/electricity/reading/injection/day_tariff",
                "1-0:2.8.2": "smartmeter/electricity/reading/injection/night_tariff",
                "1-0:21.7.0": "smartmeter/electricity/instant/L1/power/consumption",
                "1-0:22.7.0": "smartmeter/electricity/instant/L1/power/injection",
                "1-0:31.7.0": "smartmeter/electricity/instant/L1/intensity",
                "1-0:32.7.0": "smartmeter/electricity/instant/L1/tension"
            }
        }
    },
    "scheduling": [
        {
            "cronFormat": "* * * * *",
            "processor": "mqttShirka",
            "mode": "current",
            "applyTo": [
                "1-0:1.8.0",
                "1-0:1.8.1",
                "1-0:1.8.2",
                "1-0:2.8.0",
                "1-0:2.8.1",
                "1-0:2.8.2"
            ]
        },
        {
            "cronFormat": "* * * * * 0/20",
            "processor": "mqttShirka",
            "mode": "current",
            "applyTo": [
                "1-0:21.7.0",
                "1-0:22.7.0",
                "1-0:31.7.0",
                "1-0:32.7.0"
            ]
        },
        {
            "cronFormat": "0/10 * * * *",
            "processor": "printMode",
            "mode": "current",
            "applyTo": [
                "1-0:1.8.0"
            ]
        },
        {
            "cronFormat": "0/10 * * * *",
            "processor": "loggerInfoMode",
            "mode": "current",
            "applyTo": [
                "1-0:21.7.0"
            ]
        }
    ]
}