{
    "version": 1,
    "disable_existing_loggers": false,

    "formatters": {
        "default_formatter": {
            "format": "%(asctime)s [%(levelname)s] %(name)s (%(thread)d) %(message)s"
        }
    },

    "handlers": {
        "stream_handler": {
            "class": "logging.StreamHandler",
            "formatter": "default_formatter"
        }
    },

    "loggers": {
        "besm": {
            "handlers": ["stream_handler"],
            "level": "INFO"
        }
    }
}